@using Microsoft.AspNetCore.Identity
@inject NavigationManager UriHelper
@using Microsoft.AspNetCore.Components.Authorization
@inject SignInManager<IdentityUser> _signInManager

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage" class="btn btn-success">Hello, @context.User.Identity.Name!</a>&nbsp;&nbsp;
        <a href="/admin" class="btn btn-info">Admin</a>&nbsp;&nbsp;&nbsp;
        
        <form method="post" action="/Identity/Account/Logout">
            <button type="button" @onclick="Logout" class="nav-link btn btn-outline-warning">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        @*<a href="Identity/Account/Register" class="btn btn-info">Register</a>&nbsp;&nbsp;&nbsp;*@
        @*<a href="Identity/Account/Login" class="btn btn-outline-info">Log in</a>*@
    </NotAuthorized>
</AuthorizeView>

@code
{
    protected async void  Logout()
    {
        //await _signInManager.SignOutAsync();

        UriHelper.NavigateTo("/Identity/Account/Login",true);
    }
}
