@inject IJSRuntime JSRuntime
@inject NavigationManager UriHelper

<nav id="sidebar" class="@myClass">
    <div style="margin-bottom:10px;">
        <button class="btn btn-primary" @onclick="openModal"><i class="fa fa-bars"></i></button>
    </div>

    <h1><a href="/home" class="logo">@logoText</a></h1>

<ul class="list-unstyled components mb-5">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/home" >
            <span class="oi oi-list-rich" aria-hidden="true"></span> HOME
        </NavLink>
    </li>
                
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/home"  @onclick="() => {expandSubMenu = !expandSubMenu; clickedMenu=2;}">
            <span class="oi oi-list-rich" aria-hidden="true"></span> BORROWERS
        </NavLink>
        
        @if (expandSubMenu && clickedMenu == 2)
        {            
            <NavLink class="expand-menu" href="/viewborrowers">
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> View Borrowers
            </NavLink>            
            <NavLink class="expand-menu" href="/addborrower">
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Add Borrower
            </NavLink>            
            <NavLink class="expand-menu" href="/viewborrowergroups">
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> View Borrower Group
            </NavLink>  
            <NavLink class="expand-menu" href="/addborrowergroup">
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Add Borrower Group
            </NavLink>            
        }            
    </li>
        
<li class="nav-item px-3">
    <NavLink class="nav-link" href="/home" @onclick="() => {expandSubMenu = !expandSubMenu; clickedMenu=3;}">
        <span class="oi oi-list-rich" aria-hidden="true"></span> LOANS
    </NavLink>
    @if(expandSubMenu && clickedMenu == 3)
    {                
        <NavLink class="expand-menu" href="/viewallloans">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> View All Loans
        </NavLink>
        <NavLink class="expand-menu" href="/loancalculator">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Loan Calculator
        </NavLink>
        <NavLink class="expand-menu" href="/addloan">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Add Loan
        </NavLink>
        <NavLink class="expand-menu" href="/approveloans">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Approve Loans
        </NavLink> 
        <NavLink class="expand-menu" href="/cfoviewloans">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> CFO Approve Loans
        </NavLink>  
        @*<NavLink class="expand-menu" href="/loanbook">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Loan Book
        </NavLink>
        <NavLink class="expand-menu" href="/partialperformingloans">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Partial Performing Loans
        </NavLink>
        <NavLink class="expand-menu" href="/adjustedloans">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Adjusted Installments Loan
        </NavLink>
        <NavLink class="expand-menu" href="/nonperformingloans">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Non Performing Loans
        </NavLink>
        <NavLink class="expand-menu" href="/guarantors">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Guarantors
        </NavLink> *@ 
                      
    }
</li>

<li class="nav-item px-3">
    <NavLink class="nav-link" href="/home" @onclick="() => {expandSubMenu = !expandSubMenu; clickedMenu=4;}">
        <span class="oi oi-plus" aria-hidden="true"></span> REPAYMENTS
    </NavLink>
    @if(expandSubMenu && clickedMenu == 4)    
    {                
        <NavLink class="expand-menu" href="/viewrepayments">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> View  Repayments
        </NavLink>
        <NavLink class="expand-menu" href="/bulkrepayments">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Bulk Repayments
        </NavLink>
        @*<NavLink class="expand-menu" href="/uploadrepayments">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Upload Repayments - CSV
        </NavLink>*@
        <NavLink class="expand-menu" href="/approverepayments">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Approve Repayments
        </NavLink>
    }
</li>

@*<li class="nav-item px-3">
    <NavLink class="nav-link" href="/home" @onclick="() => {expandSubMenu = !expandSubMenu; clickedMenu=5;}">
        <span class="oi oi-list-rich" aria-hidden="true"></span> COLLATERAL REGISTER
    </NavLink>
    @if(expandSubMenu && clickedMenu == 5)    
    {                
        <NavLink class="expand-menu" href="/home">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> View Register
        </NavLink>
        <NavLink class="expand-menu" href="/home">
           &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Add Collateral
        </NavLink>
    }
</li>*@
<li class="nav-item px-3">
    <NavLink class="nav-link" href="/home" @onclick="() => {expandSubMenu = !expandSubMenu; clickedMenu=6;}">
        <span class="oi oi-plus" aria-hidden="true"></span> COLLECTION SHEET
    </NavLink>
    @if(expandSubMenu && clickedMenu == 6)
    {   
        <NavLink class="expand-menu" href="/loansubmission">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Loan Submission
        </NavLink>
        <NavLink class="expand-menu" href="/Dailycollection">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Daily Collection
        </NavLink>
        <NavLink class="expand-menu" href="/missedrepayments">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Missed Repayments
        </NavLink>
        <NavLink class="expand-menu" href="/passedmaturitydate">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Passed Maturity Date Loans
        </NavLink>
    }
</li>
        
@*<li class="nav-item px-3">
    <NavLink class="nav-link" href="/home" @onclick="() => {expandSubMenu = !expandSubMenu; clickedMenu=7;}">
        <span class="oi oi-list-rich" aria-hidden="true"></span> INVESTOR ACCOUNTS
    </NavLink>
    @if(expandSubMenu && clickedMenu == 7)
    {                
        <NavLink class="expand-menu" href="/viewinvestoraccounts">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> View Investor Accounts
        </NavLink>
        <NavLink class="expand-menu" href="/addinvestoraccount">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Add Investor Account
        </NavLink>

        <NavLink class="expand-menu" href="/viewloaninvestments">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> View All Loan Investments
        </NavLink>
        <NavLink class="expand-menu" href="/investortransactions">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> View Investor Transactions
        </NavLink>
        <NavLink class="expand-menu" href="/approveloaninvestments">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Approve Loan Investments
        </NavLink>
    } 
</li>*@
<li class="nav-item px-3">
    <NavLink class="nav-link" href="/home" @onclick="() => {expandSubMenu = !expandSubMenu; clickedMenu=8;}">
        <span class="oi oi-plus" aria-hidden="true"></span> EXPENSES
    </NavLink>
    @if(expandSubMenu && clickedMenu == 8)
    {                
        <NavLink class="expand-menu" href="/viewexpenses">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> View Expenses
        </NavLink>
        <NavLink class="expand-menu" href="/addexpenses">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Add Expenses
        </NavLink>
    }
</li>
        
<li class="nav-item px-3">
    <NavLink class="nav-link" href="/home" @onclick="() => {expandSubMenu = !expandSubMenu; clickedMenu=9;}">
        <span class="oi oi-list-rich" aria-hidden="true"></span> OTHER INCOME
    </NavLink>
    @if(expandSubMenu && clickedMenu == 9)
    {                
        <NavLink class="expand-menu" href="/viewincome">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> View Other Income
        </NavLink>
        <NavLink class="expand-menu" href="/addincome">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Add Other Income
        </NavLink>
    }
</li>                
@*<li class="nav-item px-3">
    <NavLink class="nav-link" href="/home" @onclick="() => {expandSubMenu = !expandSubMenu; clickedMenu=10;}">
        <span class="oi oi-plus" aria-hidden="true"></span> ACCOUTNING
    </NavLink>
    @if(expandSubMenu && clickedMenu == 10)
    {                
        <NavLink class="expand-menu" href="/cashflowaccumulated">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Cash Flow Accumulated
        </NavLink>
        <NavLink class="expand-menu" href="/cashflowmonthly">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Cash Flow Monthly
        </NavLink>
        <NavLink class="expand-menu" href="/cashflowprojection">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Cash Flow Projection
        </NavLink>
        <NavLink class="expand-menu" href="/cashbook">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Cash Book
        </NavLink>
        <NavLink class="expand-menu" href="/trailbalance">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Trail Balance
        </NavLink>
        <NavLink class="expand-menu" href="/balancesheet">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Balance Sheet
        </NavLink>
        <NavLink class="expand-menu" href="/profitandloss">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Profit and Loss
        </NavLink>               
    }
</li>*@
<li class="nav-item px-3">
    <NavLink class="nav-link" href="/home" @onclick="() => {expandSubMenu = !expandSubMenu; clickedMenu=11;}">
        <span class="oi oi-list-rich" aria-hidden="true"></span> REPORTS
    </NavLink>
    @if(expandSubMenu && clickedMenu == 11)
    {                
        <NavLink class="expand-menu" href="/reporting">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Sales Report - Syncfusion Demo
        </NavLink>
        <NavLink class="expand-menu" href="/reporting">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> SETTINGS 2
        </NavLink>
    }
</li>
<li class="nav-item px-3">
    <NavLink class="nav-link" href="/home" @onclick="() => {expandSubMenu = !expandSubMenu; clickedMenu=12;}" >
        <span class="oi oi-list-rich" aria-hidden="true"></span> SETTINGS
    </NavLink>
    @if(expandSubMenu && clickedMenu == 12)
    {                
        <NavLink class="expand-menu" href="/admin">
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="oi oi-list-rich" aria-hidden="true"></span> Administration
        </NavLink>                
    }
</li>
</ul>

    <div class="footer">
        <p>
            Copyright &copy;
            All rights reserved
        </p>
    </div>

</nav>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private bool expandSubMenu;
    //string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";
    string myClass = "";
    string logoText = "SOFTKASH.";
    private int clickedMenu = 0;
    private bool hasPageName = true;
    private int prevClickedMenu = 0;
    //private int UserId = 0;

    protected override async Task OnInitializedAsync()
    {        
        Object[] obj = {
            new { key = "width", value = "270"},
            new { key = "height", value = "100"},        
        };
        //await JSRuntime.InvokeAsync<string>("changeHeight", "100");       
        StateHasChanged();      
    }

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    public void MenuIsClicked(int menu)
    {
        clickedMenu = menu;
        if(clickedMenu == prevClickedMenu)
        {
            expandSubMenu = false;
        }
        else
        {
            expandSubMenu = true;
        }
        expandSubMenu = !expandSubMenu;

        prevClickedMenu = clickedMenu;
    }

    public void GetIsClicked(int menu, bool page)
    {
        clickedMenu = menu;
        if (prevClickedMenu != clickedMenu)
        {
            expandSubMenu = false;
            if (menu != 0 || page == true)
            {
                hasPageName = true;
            }
            else
            {
                expandSubMenu = !expandSubMenu;
                hasPageName = false;
            }
        }
        else
        {
            expandSubMenu = !expandSubMenu;
        }

        prevClickedMenu = clickedMenu;
    }

    void openModal()
    {
        if (string.IsNullOrEmpty(myClass))
        {
            myClass = "active";
            logoText = "S.";
        }
        else
        {
            myClass = "";
            logoText = "SOFTKASH.";
        }
    }
}
