@page "/home"
@inject IToastService toastService
@inject IJSRuntime JSRuntime
@inject NavigationManager UriHelper
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.VisualBasic;


<AuthorizeView>
    <Authorized>
        <h3>Home @context.User.Identity.Name!</h3>
    </Authorized>
    <NotAuthorized>
       <h3>Not Logged In</h3>
    </NotAuthorized>
</AuthorizeView>
@code {

    protected async override Task OnInitializedAsync()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var name = user.Identity.Name;

        var userID = UserManager.GetUserId(user);

        //double rate = Financial.Pmt(0.03, 3, -628.05) + 5;
        // 227.03 

    }
}
