@page "/interestmethods"
@inject IToastService toastService
@inject IJSRuntime JSRuntime
@inject NavigationManager UriHelper
@inherits OwningComponentBase<InterestMethodRepository>

<h3>InterestMethods</h3>

@code {

}
