@page "/loaninterestperiod"
@inject IToastService toastService
@inject IJSRuntime JSRuntime
@inject NavigationManager UriHelper
@inherits OwningComponentBase<LoanInterestPeriodRepository>

<h3>LoanInterestPeriod</h3>

@code {

}
