@page "/loandurationperiod"
@inject IToastService toastService
@inject IJSRuntime JSRuntime
@inject NavigationManager UriHelper
@inherits OwningComponentBase<LoanDurationRepository>

<h3>LoanDurationPeriod</h3>

@code {

}
