@page "/reporting"
@page "/reporting/{ReportName}"

@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components
@inject IJSRuntime JSRuntime
@using LoanMgt.UI.Data;
@using BoldReports.Web.ReportViewer;

<h3>Report Viewer</h3>

<div id="reportViewerControl" style="width: 100%;height:800px" />

@code {
    [Parameter]
    public string ReportName { get; set; }

    // ReportViewer options
    ReportOptions viewerOptions = new ReportOptions();

    // Used to render the Bold Report Viewer component in Blazor page.
    public async void RenderReportViewer()
    {
        viewerOptions.ReportName = ReportName;
        viewerOptions.ServiceURL = "/api/ReportsAPI";
        await JSRuntime.InvokeVoidAsync("BoldReports.RenderViewer", "reportViewerControl", viewerOptions);
    }
    // Initial rendering of Bold Report Viewer
    protected override void OnAfterRender(bool firstRender)
    {
        RenderReportViewer();
    }
}